body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /*margin: 0 200px;*/
}
nav ul{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    border: 0;
    font-weight: 700;
    padding: 15px 35px;
}
.header{
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    align-items: center;
    display:flex;
    padding: 30px 30px 0 150px;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner-gritting{
    font-size: 45px;
    margin: 0;
    color: #474747;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner .profile-pic{
    width: 584px;
    height: 676px;
}
/* about section*/
.about{
width: 1140px;
height: 550px;
border-radius: 10px;
background: #FFF8F3;
margin: 130px 0;
padding: 10px;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.info-title{
    color:#757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.info-description{
    color:#474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
